.Skype/
.VirtualBox/
.Xauthority
.adobe/
.cache/
.cmus/
.codeintel/
.gconf/
.config/Skype/
.config/Trolltech.conf
.config/chromium/
.config/dconf/
.config/dwb/
.config/epdfview/
.config/gtk-2.0/
.config/kekekeks/
.config/libreoffice/
.config/mc/
.config/menus/
.config/pulse/
.config/ristretto/
.config/sublime-text-2/
.config/vlc/
.config/xfce4/
.gem/
.gimp-2.8/
.histfile
.irb-history
.java/
.jitsi/
.lesshst
.local/
.macromedia/
.mozilla/
.neocon/
.oh-my-zsh/
.pki/
.pry_history
.recently-used
.rnd
.rvm/
.ssh/
.thumbnails/
.tmp/
.vagrant.d/
.vim_colorv_cache
.vim_colorv_cache_fav
.viminfo
.zcompdump*
.zsh-update
.zsh_history
Downloads/
VirtualBox VMs/
miscdocs/
source/
torrents/
.vegas
.psql_history*
.pgadmin3
.pgpass
.config/inkscape/
.openvpn
.teensy
.eyrc
.m2
.subversion
.fasd
wallpapers/
.rediscli_history
.sqlite_history
.ivy2
.cassandra.history
.cqlsh_history
.links
.android
.fasd-init-cache
.gnupg
books
.ncmpcpp
.mpd/database
.mpd/log
.mpd/mpd.db
.mpd/mpd.pid
.mpd/mpdstate
.mpd/mpd.db
.mpd/mpd.pid
.mpd/playlists
.task/*.data
.timewarrior/data
.timewarrior/extensions
.rubies
.config/tox/data
.keychain
.config/fish/fish_history
.config/fish/fishd.*
.crawl
.yard
.yardoc
music
.bash_history
.mysql_history
.awesome-client_history
.config/vimb
.bitcoin
.secret
.config/nomacs/
.gstreamer-0.10
.pgadmin_histoqueries
pgadmin.log
.heroku/
.netrc
.xbmc
.wine/
photo/
Desktop/
.nviminfo
junk
.config/ranger
.config/Bitcoin/Bitcoin-Qt.conf
.config/beets/library.db
.config/beets/state.pickle
.npm/
.npm-debug.log
.node-gyp
.config/CycloneSoft
bin
timedoctor
.config/teamviewer9/
.byebug_hist
.guard_history
.config/configstore/insight-bower.yml
.config/configstore/update-notifier-bower.yml
.magick/ImagemagickOpenCLDeviceProfile
.purple
.config/tox
.gnome/apps/chrome-gighmmpiobklfepjocnamgkkbiglidom-Default.desktop
data
.config/ImageMagick
.config/hub
.factor-vm_history
.config/htop/htoprc
.mcabber
.config/transmission-daemon/stats.json
.config/transmission-daemon/blocklists
.config/transmission-daemon/torrents
.config/transmission-daemon/resume
.nvimlog
.gnome/apps/chrome-*
.weechat/weechat.log
.weechat/logs
.config/blender/
.esd_auth
.nviminfo.tmp
.config/transmission-daemon/settings.json.tmp.*
.config/transmission-daemon/dht.dat
.config/pavucontrol.ini
.pencil
.weechat/sec.conf
.weechat/pipe
.wings3d
*.sqlite
.elinks/bookmarks
.elinks/cookies
.elinks/globhist
.elinks/gotohist
.elinks/searchhist
Music
.nviminfz.tmp
.nvim
.profile
.dbus
.telegram-cli
oradiag_pirj
.vim/spell
articles
.phantomjs
.xsel.log
.config/QtProject.conf
.renoise
.httpie
.node_repl_history
Documents
audio
.CFUserTextEncoding
.Trash
Applications
Library
Movies
Pictures
Public
.homebrew_analytics_user_uuid
.bundle/cache
.tor
.config/zsh/brew-api-key.sh
.aws
.config/heroku/config.json
.wget-hsts
.factor_history
.tldrc
.elm
.gpg-agent-info
.passwd
mail
.offlineimap
.bin/*.pyc
.w3m
.gdrive
.config/.exercism.json
exercism
.oracle_jre_usage
.yarnrc
.config/direnv
dosprogs
.config/exercism.json
.atom
.config/configstore/update-notifier-npm.json
.config/yarn/
.zoomus
.pry.d
.forever
.pyenv
.python_history
.config/gcloud
.config/Karabiner/automatic_backups/
.config/borg
.dictd
.erlang.cookie
.chromedriver-helper
.LfCache
.webdrivers
.solargraph
.zi/*
.yq2
.cargo
.config/rua
.var
.config/.bombadillo.ini
.zcompcache
.zoom
.config/Unknown Organization
.config/zoomus.conf
.minecraft
.config/Autodesk/
.irb_history
.config/aerc/accounts.conf
.config/GIMP
.config/mimeapps.list
.config/totem
.config/transmission
.config/evolution
.config/dleyna-renderer-service.conf
.config/enchant
.terminfo
.config/autostart
.config/gnome-boxes
.config/libvirt
.cdk
.BitwigStudio
Bitwig Studio
.config/cef_user_data
go
Screenshots
.config/ngrok/ngrok.yml
.config/.gsd-keyboard.settings-ported
