.Skype/
.VirtualBox/
.Xauthority
.adobe/
.cache/
.cmus/
.codeintel/
.gconf/
.config/Skype/
.config/Trolltech.conf
.config/chromium/
.config/dconf/
.config/dwb/
.config/epdfview/
.config/gtk-2.0/
.config/kekekeks/
.config/libreoffice/
.config/mc/
.config/menus/
.config/pulse/
.config/ristretto/
.config/sublime-text-2/
.config/vlc/
.config/xfce4/
.gem/
.gimp-2.8/
.histfile
.irb-history
.java/
.jitsi/
.lesshst
.local/
.macromedia/
.mozilla/
.neocon/
.oh-my-zsh/
.pki/
.pry_history
.recently-used
.rnd
.rvm/
.ssh/
.thumbnails/
.tmp/
.vagrant.d/
.vim_colorv_cache
.vim_colorv_cache_fav
.viminfo
.vim/.backup/
.vim/.undo/
.vim/bundle/
.zcompdump*
.zsh-update
.zsh_history
Downloads/
VirtualBox VMs/
miscdocs/
source/
torrents/

.vegas
.psql_history
.pgadmin3
.pgpass
.config/inkscape/
.openvpn
.teensy
.eyrc
.m2
.subversion
.fasd
wallpapers/
.rediscli_history
.sqlite_history
.ivy2
.cassandra.history
.cqlsh_history
.irssi
.links
.android
.fasd-init-cache
.gnupg
books
.ncmpcpp
.mpd/database
.mpd/log
.mpd/mpd.db
.mpd/mpd.pid
.mpd/mpdstate
.mpd/mpd.db
.mpd/mpd.pid
.task
.rubies
.config/tox/data
.keychain
.config/fish/fish_history
.config/fish/fishd.*
.crawl
.yard
.yardoc
music
.bash_history
.mysql_history
.awesome-client_history
.config/vimb
.bitcoin
.secret
.config/nomacs/
.gstreamer-0.10
.pgadmin_histoqueries
pgadmin.log
.heroku/
.netrc
.xbmc
.wine/
photo/
Desktop/
