[submodule ".config/zsh/antigen"]
	path = .config/zsh/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule ".config/vim/bundle/Vundle.vim"]
	path = .config/vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
