[submodule ".zsh/opp"]
  path = .zsh/opp
  url = git@github.com:hchbaw/opp.zsh.git
[submodule ".zsh/oh-my-zsh"]
  path = .zsh/oh-my-zsh
  url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule ".zsh/prezto"]
  path = .zsh/prezto
  url = git@github.com:sorin-ionescu/prezto.git
[submodule "/home/pirj/.oh-my-fish"]
	path = /home/pirj/.oh-my-fish
	url = git://github.com/bpinto/oh-my-fish.git
