# set show-mode-in-prompt on
set completion-ignore-case off

set editing-mode vi

set keymap vi-command
"H": beginning-of-line
"L": end-of-line

set keymap vi-insert
"kj": vi-movement-mode

set enable-bracketed-paste on
