*saveLines: 65535
*termName: xterm-256color
*loginShell: true

*cursorBlink: true
*scrollBar: false
*secondaryScroll: false

!xterm
*renderFont: true
*faceName: inconsolata
*faceSize: 12

!urxvt
urxvt.scrollTtyOutput: false
urxvt.scrollTtyKeypress: true

urxvt.font: xft:Droid Sans Mono for Powerline:size=9.5
urxvt.letterSpace: -1

urxvt.cursorColor: #888888
urxvt.background:  #000000
urxvt.foreground:  #eeeeee
urxvt.depth:       32

urxvt.buffered:   true
urxvt.jumpScroll: true
urxvt.skipScroll: true

Xft.dpi:        96
Xft.antialias:  true
Xft.hinting:    true
Xft.rgba:       rgb
Xft.hintstyle:  hintslight
