*saveLines: 65535
*termName: xterm-256color
*loginShell: true
*urgentOnBell: false

*cursorBlink: true
*scrollBar: false
*secondaryScroll: false

!xterm
*renderFont: true
*faceName: inconsolata
*faceSize: 12

!urxvt
URxvt*scrollTtyOutput: false
URxvt*scrollTtyKeypress: true
urxvt*font: xft:inconsolata:size=11,xft:Droid Sans Mono for Powerline:size=9.5
!urxvt*font: xft:inconsolatalgc:size=9
!urxvt*font: xft:Inconsolata-dz for Powerline:size=11
!urxvt*font: xft:Droid Sans Mono for Powerline:size=9.5
URxvt.buffered:         true
!URxvt.cursorUnderline: true

!urxvt*background:       rgba:0000/0000/0000/0000
!urxvt*transparent:      true
!urxvt*shading:          08
!urxvt*depth:            32
!urxvt*tint:             white
!urxvt*inheritPixmap:    true

Xft.dpi:        96
Xft.antialias:  true
Xft.hinting:    true
Xft.rgba:       rgb
Xft.hintstyle:  hintslight
