*saveLines: 65535
*termName: xterm-256color
*loginShell: true
*urgentOnBell: false

*cursorBlink: true
*scrollBar: false
*secondaryScroll: false

!xterm
*renderFont: true
*faceName: inconsolata
*faceSize: 12

!urxvt
URxvt*scrollTtyOutput: false
URxvt*scrollTtyKeypress: true

urxvt*font: xft:Droid Sans Mono for Powerline:size=9.5
URxvt.letterSpace: -1

urxvt*cursorColor: #888888
urxvt*background: #000000
urxvt*foreground: #aaaaaa
urxvt*depth:      32

URxvt.buffered:   true
urxvt*jumpScroll: true
urxvt*skipScroll: true

urxvt*visualBell: false

Xft.dpi:        96
Xft.antialias:  true
Xft.hinting:    true
Xft.rgba:       rgb
Xft.hintstyle:  hintslight
